@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600");
@font-face {
  font-family: 'aleoregular';
  src: url(../fonts/aleo-regular-webfont-webfont.woff2) format("woff2"), url(../fonts/aleo-regular-webfont-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  padding: 15px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 10px; }

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1150px; }

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
  font-family: 'aleoregular';
  background-color: #5474fd;
  width: 225px;
  height: 60px;
  text-align: center;
  line-height: 1;
  padding-top: 23px;
  text-transform: uppercase;
  margin-top: 33px;
  letter-spacing: 1.3px; }
  input[type="submit"]:hover,
  input[type="button"]:hover,
  button:hover,
  .ba-button:hover {
    background-color: #fff;
    color: #5474fd; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

svg {
  fill: currentColor; }

.fas.fa-quote-left {
  position: relative;
  text-outline: 0;
  left: 0;
  margin-right: 10px;
  position: relative;
  top: -14px;
  color: #5474fd; }

.ba-hero {
  text-align: center;
  background: url(../img/hero.jpeg) no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 265px;
  position: relative; }
  .ba-hero__title {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 0px; }
    @media screen and (max-width: 400px) {
      .ba-hero__title {
        font-size: 35px; } }
  .ba-hero__subtitle {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 6px;
    margin-bottom: 37px; }
  .ba-hero__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .ba-hero__form--input {
      border: 2px solid #fff;
      background-color: #fff;
      height: 45px;
      width: 469px;
      color: #333333;
      text-align: center;
      padding: 5px 15px; }
      .ba-hero__form--input -webkit-input-placeholder {
        text-align: center;
        line-height: 1; }
    .ba-hero__form--button {
      background-color: #5474fd;
      width: 146px;
      height: 59px;
      border: 2px solid #fff;
      margin: 0;
      padding-top: 0; }
      .ba-hero__form--button:hover {
        border-color: #5474fd; }
  .ba-hero__scroll {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 46px);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .ba-hero__scroll span {
      letter-spacing: 2px;
      margin-bottom: 7px; }
    .ba-hero__scroll:hover {
      opacity: 0.5; }

.ba-nav {
  background-color: #5474fd;
  padding: 12px 0; }
  .ba-nav__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .ba-nav__logo {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px; }
  .ba-nav__menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    @media screen and (max-width: 768px) {
      .ba-nav__menu {
        display: none; } }
  .ba-nav__items + .ba-nav__items {
    margin-left: 42px; }
  .ba-nav__items a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal; }
    @media screen and (max-width: 800px) {
      .ba-nav__items a {
        font-size: 13px; } }
    .ba-nav__items a:hover {
      text-decoration: underline; }

.ba-why {
  background: url(../img/whychosse.jpeg) no-repeat;
  background-size: cover;
  padding: 119px 0 110px; }
  @media screen and (max-width: 640px) {
    .ba-why .ba-row {
      display: block; } }
  .ba-why__title {
    font-size: 36px;
    font-weight: 400;
    font-family: 'aleoregular';
    margin-bottom: 49px; }
  .ba-why__left {
    padding-top: 71px; }
    @media screen and (max-width: 768px) {
      .ba-why__left {
        padding-top: 0; } }
    @media screen and (max-width: 640px) {
      .ba-why__left {
        width: 100%;
        padding: 0 15px 20px; } }
    .ba-why__left p + p {
      margin-top: 29px; }
  .ba-why__right {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (max-width: 640px) {
      .ba-why__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        padding: 10px 15px 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
  .ba-why__img--firft {
    padding-left: 63px; }
    @media screen and (max-width: 1180px) {
      .ba-why__img--firft {
        padding-left: 0px;
        margin: 0px auto; } }
    @media screen and (max-width: 640px) {
      .ba-why__img--firft {
        max-width: 50%; } }
  .ba-why__img--second {
    padding-left: 188px; }
    @media screen and (max-width: 1180px) {
      .ba-why__img--second {
        padding-left: 0px;
        margin: 0 auto; } }
    @media screen and (max-width: 640px) {
      .ba-why__img--second {
        max-width: 50%; } }

.ba-enigma {
  background: #333333;
  padding: 80px 0 120px; }
  .ba-enigma__col {
    text-align: center; }
    .ba-enigma__col:first-child {
      color: #5474fd; }
    .ba-enigma__col:nth-child(2) {
      color: #ff6363; }
    .ba-enigma__col:nth-child(3) {
      color: #00a2ff; }
  .ba-enigma__text {
    font-family: "aleoregular";
    color: #e8e8e8;
    font-size: 36px;
    font-weight: 300; }
    @media screen and (max-width: 780px) {
      .ba-enigma__text {
        font-size: 25px; } }
    @media screen and (max-width: 585px) {
      .ba-enigma__text {
        font-size: 20px; } }

.ba-spain-left {
  background: url(../img/spainBG1.jpeg) no-repeat;
  background-size: cover;
  padding: 230px 0 100px; }
  .ba-spain-left__row {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    @media screen and (max-width: 1000px) {
      .ba-spain-left__row {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center; } }
  .ba-spain-left__col {
    background: rgba(35, 35, 35, 0.9);
    padding: 47px 30px;
    width: calc(50% - 30px);
    margin-left: 30px; }
    @media screen and (max-width: 900px) {
      .ba-spain-left__col {
        width: 75%; } }
    @media screen and (max-width: 500px) {
      .ba-spain-left__col {
        width: 100%; } }
  .ba-spain-left__location {
    font-family: "Josefin Sans", sans-serif;
    color: #e8e8e8;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px; }
  .ba-spain-left__title {
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 15px; }

.ba-spain-right {
  background: url(../img/spainBG2.jpeg) no-repeat;
  background-size: cover;
  padding: 230px 0 100px; }
  .ba-spain-right__row {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    @media screen and (max-width: 1000px) {
      .ba-spain-right__row {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center; } }
  .ba-spain-right__col {
    background: rgba(35, 35, 35, 0.9);
    padding: 50px 30px;
    width: calc(50% - 30px); }
    @media screen and (max-width: 900px) {
      .ba-spain-right__col {
        width: 75%; } }
    @media screen and (max-width: 500px) {
      .ba-spain-right__col {
        width: 100%; } }
  .ba-spain-right__location {
    font-family: "Josefin Sans", sans-serif;
    color: #e8e8e8;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px; }
  .ba-spain-right__title {
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 15px; }

.ba-testimonials {
  padding: 120px 0 200px;
  background: url(../img/whatourBG.jpeg) no-repeat;
  background-size: cover; }
  .ba-testimonials__title {
    text-align: center;
    font-family: "aleoregular";
    font-size: 36px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 94px;
    letter-spacing: 0.5px;
    position: relative; }
  .ba-testimonials__row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    @media screen and (max-width: 1200px) {
      .ba-testimonials__row {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-left: auto; } }
    @media screen and (max-width: 940px) {
      .ba-testimonials__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    @media screen and (max-width: 940px) {
      .ba-testimonials__row img {
        margin: 0 auto 20px; } }
  .ba-testimonials__col {
    background-color: #333333;
    padding: 50px 50px 50px 60px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    @media screen and (max-width: 1200px) {
      .ba-testimonials__col {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0; } }
  .ba-testimonials__name {
    font-family: "Josefin Sans", sans-serif;
    color: #fefefe;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .ba-testimonials__text {
    text-align: justify; }

.ba-footer {
  background-color: #232323;
  text-align: center;
  padding: 120px 0 54px; }
  .ba-footer__slogan {
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 20px; }
  .ba-footer .ba-socials i + i {
    margin-left: 19px; }
  .ba-footer .ba-socials i:hover {
    opacity: 0.5;
    cursor: pointer; }
  .ba-footer .ba-socials i:nth-child(3) {
    color: #5474fd; }
